<header id="header" class="am-topbar am-topbar-inverse">
	<div class="am-container">
	  <h1 class="am-topbar-brand">
	    <a title="${config.siteName}" href="${base}/" class="am-text-ir">${config.siteName}</a>
	  </h1>
	  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
	  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
	    <div class="am-topbar-right">
	      <ul class="am-nav am-nav-pills am-topbar-nav nav">
			      <li><a href="${base}/">首页</a></li>
		      	[@category_root_list isMenu="true"]
					[#list categories as category]
				      <li><a href="${category.path}">${category.name}</a></li>
					[/#list]
				[/@category_root_list]
		    </ul>
	    </div>
	  </div>
  </div>
</header>
