<!DOCTYPE html>
<html>
<head>
<title>编辑模板</title>
[#include "/WEB-INF/admin/include/common.html"]
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>编辑模板</h5>
            </div>
           <form id="inputForm" action="update" method="post">
           		<input type="hidden" name="fileName" value="${fileName}" />
           		<input type="hidden" name="directory" value="${directory}" />
	            <div class="ibox-content">
	                <div class="form-horizontal clearfix">
	                	<textarea name="content" class="form-control" style="height: 600px;" title="">${content}</textarea>
	                </div>
	            </div>
	            <div class="modal-footer col-sm-3 col-sm-offset-2">
	                <button type="submit" class="btn btn-w-m btn-primary">确定</button>
	                <button type="button" class="btn btn-w-m btn-default" onclick="history.back(); return false;">取消</button>
	            </div>
            </form>
        </div>
    </div>
</body>
</html>
