
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>联系我们-天天励志</title>
<meta name="keywords" content="#" />
<meta name="description" content="#" />
<link rel="stylesheet" type="text/css" href="/templets/pc/css/common.css">
</head>
<body class="bgno">
<div class="a-page">
<div class="header">
<div class="logo fl"><a href="/"><img src="/templets/pc/img/logo.png" alt="天天励志"></a></div>
<ul class="link fr">
<li class="active"><a href="/" rel="nofollow">网站首页</a></li>
<li><a href="/about/" rel="nofollow">了解我们</a></li>
<li><a href="/sitemap.html" rel="nofollow">网站地图</a></li>
<li><a href="/tougao/" rel="nofollow">投稿帮助</a></li>
<li><a href="/tag/tags.html">TAG标签</a></li>
<li><a href="javascript:vod(0);" rel="nofollow" onclick="qqemail();" style="text-decoration:none;">问题反馈</a></li>
</ul>
</div>
<div class="a-box">
<div class="a-left fl">
<ul>
<li><a href="/about/" rel="nofollow">关于我们</a></li>
<li><a href="/service/" rel="nofollow">服务条款</a></li>
<li class="active"><a href="/contact/" rel="nofollow">联系方式</a></li>
<li><a href="javascript:vod(0);" rel="nofollow" onclick="qqemail();" style="text-decoration:none;">问题反馈</a></li>
</ul>
</div>
<div class="a-right fr">
<h3><span>联系我们</span></h3>
<div class="a-con">
<div>
　　天天励志官方联系方式：</div>
<div>
　　服务邮箱：44824482#qq.com（#改成@）</div>
<div>
　　天天励志QQ44824482：xxxxxxxxx</div>
<div>
　　联系电话：13563870239</div>
</div>
</div>
<div class="copyright clear">Copyright © 2017-2018 tiantianlizhi.cn All Rights Reserved. 冀ICP备14004780号-3 <script src="https://s19.cnzz.com/z_stat.php?id=1271312128&web_id=1271312128" language="JavaScript"></script>
</div>
</div>
</div>
</body>
</html>
<script type="text/javascript">function qqemail(){  childWindow =window.open('http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=44824482@qq.com','newwindow','height=450,width=800,top=150,left=280,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');}</script>