<script type="text/javascript">
if(navigator.platform.indexOf('Win32')!=-1){}
else{window.location.href="http://m.tiantianlizhi.cn"+window.location.pathname;}
</script>
<div id="header">
<div class="top wrap mauto">
<div class="left fl">您好！欢迎访问天天励志！<a href="/zaoan/">早安心语</a><a href="/wanan/">晚安心语</a></div>
<div class="right fr"><a href="/sitemap.html" rel="nofollow">网站地图</a><a href="/tag/tags.html" target="_blank">TAG标签</a><a href="/rss.xml" rel="nofollow">RSS订阅</a><a href="javascript:void(0);" rel="nofollow">Ctrl+D收藏</a></div>
</div>
<div class="wrap mauto head">
<h1 class="fl"><a href=""><img src="/templets/pc/img/logo.png" alt="天天励志"></a></h1>
<div class="search fl"><form name="formsearch" method="post" action="/e/search/index.php">
<input type="hidden" name="show" value="title">
<input type="text" name="keyboard" id="search-keyword" class="ipt" value="在这里搜索您感兴趣的内容" onblur="if(this.value==''){this.value='在这里搜索您感兴趣的内容';}" onfocus="if(this.value=='在这里搜索您感兴趣的内容'){this.value='';}">
<button type="submit" onclick="search()">搜索</button></form></div>
<div id="bdshare" class="fr">
<div class="bdsharebuttonbox">
<a href="javascript:void(0);" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
<a href="javascript:void(0);" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
<a href="javascript:void(0);" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
<a href="javascript:void(0);" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
<a href="javascript:void(0);" class="bds_more" data-cmd="more"></a>
</div>
</div>
</div>
<div class="nav">
<ul class="wrap mauto"><li><a href="http://www.tiantianlizhi.cn/" class='thisclass'>网站首页</a></li>
<li><a href='/lizhiwenzhang/' class=''>励志文章</a></li><li><a href='/lizhimingyan/' class=''>励志名言</a></li><li><a href='/lizhigushi/' class=''>励志故事</a></li><li><a href='/renshengzheli/' class=''>人生哲理</a></li><li><a href='/lizhiyulu/' class=''>励志语录</a></li><li><a href='/qingchunlizhi/' class=''>青春励志</a></li><li><a href='/chenggonglizhi/' class=''>成功励志</a></li><li><a href='/lizhichuangye/' class=''>励志创业</a></li><li><a href='/lizhirenwu/' class=''>励志人物</a></li><li><a href='/jiatingjiaoyu/' class=''>家庭教育</a></li></ul>
</div>
<div class="subnav">
<ul class="wrap mauto">
<li><a href='/dangtuanfanwen/'>党团范文</a></li><li><a href='/gongzuozongjie/'>工作总结</a></li><li><a href='/gongzuojihua/'>工作计划</a></li><li><a href='/huodongzongjie/'>活动总结</a></li><li><a href='/duhougan/'>读后感</a></li><li><a href='/shicimingju/'>诗词名句</a></li><li><a href='/zhufuyu/'>祝福语</a></li><li><a href='/jingdiantaici/'>经典台词</a></li><li><a href='/xiaoxuezuowen/'>小学作文</a></li><li><a href='/chuzhongzuowen/'>初中作文</a></li><li><a href='/gaozhongzuowen/'>高中作文</a></li></ul>
</div>
</div>