<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="mobile-agent" content="format=html5; url=http://m.tiantianlizhi.cn" />
<meta name="mobile-agent" content="format=xhtml; url=http://m.tiantianlizhi.cn" />
<title>励志一生_励志名言_励志故事_励志语录-励志那些事</title>
<meta name="keywords" content="励志名言,励志故事,励志语录,励志那些事" />
<meta name="description" content="励志那些事汇集以励志,创业,感悟,成功等为主题的励志美文网站,内含励志文章,励志名言,励志语录,励志故事,励志人物,人生哲理,青春励志,成功励志,励志创业等读者文摘在线阅读" />
<link rel="stylesheet" type="text/css" href="${base}/templates/${config.theme}/front/static/css/common.css">
<script type="text/javascript" src="${base}/templates/${config.theme}/front/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="${base}/templates/${config.theme}/front/static/js/jquery-lz.js"></script>
<script type="text/javascript" src="${base}/templates/${config.theme}/front/static/js/slide.js"></script>
<meta property="og:type" content="article" />
<meta property="og:title" content="励志一生_励志名言_励志故事_励志语录-天天励志" />
<meta property="og:description" content="天天励志汇集以励志,创业,感悟,成功等为主题的励志美文网站,内含励志文章,励志名言,励志语录,励志故事,励志人物,人生哲理,青春励志,成功励志,励志创业等读者文摘在线阅读" />
<meta property="og:url" content="http://www.tiantianlizhi.cn/index.html" />
<meta property="og:image" content="http://www.tiantianlizhi.cn/templets/pc/img/360logo.jpg" />
<meta property="og:release_date" content="2018-03-05 15:51:48" />
</head>
<body>
<!--头部开始-->
[#include "/templates/${config.theme}/front/header.html" /]
<!--头部结束-->
<div id="container">
<div class="main mauto">
<div class="mrap mauto">
<div class="slide fl mr">
<div id="banner" class="mb">
<div id="banner_bg"></div>
<div id="banner_info"></div>
<ul>
<li class="on">1</li>
<li>2</li>
<li>3</li>
<li>4</li>
</ul>
<div id="banner_list">
<a href="/lizhiwenzhang/17321.html" target="_blank"><img src="/d/file/lizhiwenzhang/2018-01-31/9c5fcceab0937190115a23f54ee78008.jpg" alt="今晚超级月亮,蓝月亮,红月亮组对亮相,152年一遇"></a>
<a href="/wanan/12598.html" target="_blank"><img src="/d/file/2017122921/201712231455118.jpg" alt="晚安心语：职场中学会、学好十八句话 工作必然高效"></a>
<a href="/lizhiyulu/12594.html" target="_blank"><img src="/d/file/2017122921/201712292113554.jpg" alt="努力成为人生赢家的励志警句"></a>
<a href="/zhufuyu/12592.html" target="_blank"><img src="/d/file/2017122921/201712292113586.jpg" alt="元旦经典笑话短信，幽默逗人的元旦祝福短信"></a>
</div>
</div>
<div class="tag mb">
<dl>
<dt class="title mb"><h3><span>热门话题</span></h3></dt>
<dd><a href='/tag/lizhiwenzhang/' target="_blank" title="有关励志文章的文章">励志文章</a></dd>
<dd><a href='/tag/lizhitianxia/' target="_blank" title="有关励志天下的文章">励志天下</a></dd>
<dd><a href='/tag/rensheng/' target="_blank" title="有关人生的文章">人生</a></dd>
<dd><a href='/tag/lizhimingyan/' target="_blank" title="有关励志名言的文章">励志名言</a></dd>
<dd><a href='/tag/jingdianwenzhang/' target="_blank" title="有关经典文章的文章">经典文章</a></dd>
<dd><a href='/tag/zheli/' target="_blank" title="有关哲理的文章">哲理</a></dd>
<dd><a href='/tag/duanwenxue/' target="_blank" title="有关短文学的文章">短文学</a></dd>
<dd><a href='/tag/zhengnengliang/' target="_blank" title="有关正能量的文章">正能量</a></dd>
<dd><a href='/tag/lizhi/' target="_blank" title="有关励志的文章">励志</a></dd>
<dd><a href='/tag/renshengzheli/' target="_blank" title="有关人生哲理的文章">人生哲理</a></dd>
<dd><a href='/tag/mingyanjingxuan/' target="_blank" title="有关名言精选的文章">名言精选</a></dd>
<dd><a href='/tag/chenggong/' target="_blank" title="有关成功的文章">成功</a></dd>
</dl>
</div>
</div>
<div class="news fl mb">
<dl>
<dt class="title mb"><h3><span>今日头条推荐</span></h3></dt>
<dd><a href="/lizhimingyan/17559.html" target="_blank" title="激发斗志的励志名言箴言">激发斗志的励志名言箴言</a></dd>
<dd><a href="/renshengzheli/17558.html" target="_blank" title="时间并不会因为你而停留">时间并不会因为你而停留</a></dd>
<dd><a href="/renshengzheli/17557.html" target="_blank" title="安全感这回事，只能自己给自己">安全感这回事，只能自己给自己</a></dd>
<dd><a href="/renshengzheli/17556.html" target="_blank" title="在这个快餐时代，我却想要一些坚持">在这个快餐时代，我却想要一些坚持</a></dd>
<dd><a href="/renshengzheli/17555.html" target="_blank" title="爱别人前要先学会爱自己">爱别人前要先学会爱自己</a></dd>
<dd><a href="/renshengzheli/17554.html" target="_blank" title="我给出了人生第一笔份子钱">我给出了人生第一笔份子钱</a></dd>
<dd><a href="/renshengzheli/17553.html" target="_blank" title="生活里打拼，记得多点杀气，也多点温柔">生活里打拼，记得多点杀气，也多点温柔</a></dd>
<dd><a href="/shicimingju/17552.html" target="_blank" title="古诗中关于下雨的优美诗句有哪些？">古诗中关于下雨的优美诗句有哪些？</a></dd>
<dd><a href="/zhufuyu/17551.html" target="_blank" title="正月十五猜灯谜，正月十五元宵节祝福语精选">正月十五猜灯谜，正月十五元宵节祝福语精</a></dd>
<dd><a href="/lizhimingyan/17550.html" target="_blank" title="绝不服输绝不低头的励志名言">绝不服输绝不低头的励志名言</a></dd>
<dd><a href="/zhufuyu/17549.html" target="_blank" title="元宵节祝福短信，元宵祝福短信大全">元宵节祝福短信，元宵祝福短信大全</a></dd>
<dd><a href="/renshengzheli/17548.html" target="_blank" title="真正的高贵不是出身，而是教养">真正的高贵不是出身，而是教养</a></dd>
<dd><a href="/duhougan/17547.html" target="_blank" title="《人民领袖》观后感">《人民领袖》观后感</a></dd>
<dd><a href="/lizhiyulu/17546.html" target="_blank" title="激发人无限潜能的励志名言警句">激发人无限潜能的励志名言警句</a></dd>
</dl>
</div>
<div class="lz-right fr">
<div class="ad300"><script src="/d/js/acmsd/thea1.js"></script></div>
<div class="tag mb">
<dl>
<dt class="title mb"><h3><span>热门人物</span></h3></dt>
<dd><a href='/tag/shashibiya/' target="_blank" title="有关莎士比亚的文章">莎士比亚</a></dd>
<dd><a href='/tag/zhangailing/' target="_blank" title="有关张爱玲的文章">张爱玲</a></dd>
<dd><a href='/tag/liuchuanzhi/' target="_blank" title="有关柳传志的文章">柳传志</a></dd>
<dd><a href='/tag/biergaici/' target="_blank" title="有关比尔盖茨的文章">比尔盖茨</a></dd>
<dd><a href='/tag/renzhengfei/' target="_blank" title="有关任正非的文章">任正非</a></dd>
<dd><a href='/tag/aidisheng/' target="_blank" title="有关爱迪生的文章">爱迪生</a></dd>
<dd><a href='/tag/liuqiangdong/' target="_blank" title="有关刘强东的文章">刘强东</a></dd>
<dd><a href='/tag/fulankelin/' target="_blank" title="有关富兰克林的文章">富兰克林</a></dd>
<dd><a href='/tag/kanaiji/' target="_blank" title="有关卡耐基的文章">卡耐基</a></dd>
<dd><a href='/tag/lijiacheng/' target="_blank" title="有关李嘉诚的文章">李嘉诚</a></dd>
<dd><a href='/tag/qiaobusi/' target="_blank" title="有关乔布斯的文章">乔布斯</a></dd>
<dd><a href='/tag/luxun/' target="_blank" title="有关鲁迅的文章">鲁迅</a></dd>
</dl>
</div>
</div>
</div>

<div class="mrap mauto clear h446">
<div class="m-left fl">
<div class="title"><h3><span><a href="/zaoan/">早安心语</a> / <a href="/wanan/">晚安心语</a></span></h3></div>
<div class="category">
<div class="item mr">
<ul>
<dt><a href="/lizhiwenzhang/"><img data-original="/templets/pc/img/zaoan.jpg" class="lazy" alt="早安心语"></a></dt>
<li><span>02-08</span><a href="/zaoan/17382.html" target="_blank" title="早安心语：旅行，是为去远方找回另一个自己">早安心语：旅行，是为去远方找回另一个自己</a></li>
<li><span>01-20</span><a href="/zaoan/17210.html" target="_blank" title="早安心语：人最大的动力，除了兴趣，就是耻辱">早安心语：人最大的动力，除了兴趣，就是耻辱</a></li>
<li><span>01-17</span><a href="/zaoan/17179.html" target="_blank" title="早安心语：一切因人而异，别讲公平，我听不懂">早安心语：一切因人而异，别讲公平，我听不懂</a></li>
<li><span>01-16</span><a href="/zaoan/17166.html" target="_blank" title="早安心语：不要为了看别人，走错了自己脚下的路">早安心语：不要为了看别人，走错了自己脚下的路</a></li>
<li><span>01-15</span><a href="/zaoan/17153.html" target="_blank" title="早安心语：爱情是暂时的，人品是永恒的">早安心语：爱情是暂时的，人品是永恒的</a></li>
<li><span>01-14</span><a href="/zaoan/17141.html" target="_blank" title="早安心语：知世故而不世故，才是最美好的成熟">早安心语：知世故而不世故，才是最美好的成熟</a></li>
<li><span>01-13</span><a href="/zaoan/17132.html" target="_blank" title="早安心语：故事的开头总是这样，适逢其会，猝不及防">早安心语：故事的开头总是这样，适逢其会，猝不及防</a></li>
<li><span>01-11</span><a href="/zaoan/15977.html" target="_blank" title="早安心语：把心放轻，人生就是一朵自在的云">早安心语：把心放轻，人生就是一朵自在的云</a></li>
<li><span>01-09</span><a href="/zaoan/15138.html" target="_blank" title="早安心语：心灵的宁静即是幸福">早安心语：心灵的宁静即是幸福</a></li>
<li><span>01-08</span><a href="/zaoan/15127.html" target="_blank" title="早安心语：最美好的不是未来，是今天">早安心语：最美好的不是未来，是今天</a></li>
</ul>
</div>
<div class="item">
<ul>
<dt><a href="/lizhimingyan/"><img data-original="/templets/pc/img/wanan.jpg" class="lazy" alt="晚安心语"></a></dt>
<li><span>02-08</span><a href="/wanan/17381.html" target="_blank" title="晚安心语：潇洒是一个女人最高级的性感">晚安心语：潇洒是一个女人最高级的性感</a></li>
<li><span>01-25</span><a href="/wanan/17261.html" target="_blank" title="晚安心语：只有不断鞭策自己，才能不断进步，不断成长">晚安心语：只有不断鞭策自己，才能不断进步，不断成长</a></li>
<li><span>01-25</span><a href="/wanan/17260.html" target="_blank" title="晚安心语：人生不能后悔，但是可以拐弯">晚安心语：人生不能后悔，但是可以拐弯</a></li>
<li><span>01-20</span><a href="/wanan/17209.html" target="_blank" title="晚安心语：实在放不下就继续喜欢吧，也许他会被你感动">晚安心语：实在放不下就继续喜欢吧，也许他会被你感动</a></li>
<li><span>01-19</span><a href="/wanan/17199.html" target="_blank" title="晚安心语：你以为他不喜欢你，其实他还很烦你">晚安心语：你以为他不喜欢你，其实他还很烦你</a></li>
<li><span>01-17</span><a href="/wanan/17177.html" target="_blank" title="晚安心语：在这个世界上，好人总是会被坏人欺负">晚安心语：在这个世界上，好人总是会被坏人欺负</a></li>
<li><span>01-16</span><a href="/wanan/17162.html" target="_blank" title="晚安心语：“忘记”是人最好的一个本能">晚安心语：“忘记”是人最好的一个本能</a></li>
<li><span>01-15</span><a href="/wanan/17151.html" target="_blank" title="晚安心语：成长就是这样的，不断的告别，不断的遇见">晚安心语：成长就是这样的，不断的告别，不断的遇见</a></li>
<li><span>01-14</span><a href="/wanan/17139.html" target="_blank" title="晚安心语：爱你的男人不用管；不爱你的，轮不到你管">晚安心语：爱你的男人不用管；不爱你的，轮不到你管</a></li>
<li><span>01-13</span><a href="/wanan/17131.html" target="_blank" title="晚安心语：我一直清醒，清醒着看自己沉沦">晚安心语：我一直清醒，清醒着看自己沉沦</a></li>
</ul>
</div>
</div>
</div>
<div class="m-right fr">
<div class="title mb"><h3><span><a href="/renshengzheli/">励志语录</a></span></h3></div>
<ul>
<li><a href="/lizhiyulu/17546.html" target="_blank" title="激发人无限潜能的励志名言警句">激发人无限潜能的励志名言警句</a></li>
<li><a href="/lizhiyulu/17544.html" target="_blank" title="激励人斗志昂扬的励志名言">激励人斗志昂扬的励志名言</a></li>
<li><a href="/lizhiyulu/17536.html" target="_blank" title="积极进取的青春励志语录">积极进取的青春励志语录</a></li>
<li><a href="/lizhiyulu/17535.html" target="_blank" title="激发人勇往直前的励志语录">激发人勇往直前的励志语录</a></li>
<li><a href="/lizhiyulu/17534.html" target="_blank" title="激励年轻人勇敢无畏的励志名言">激励年轻人勇敢无畏的励志名言</a></li>
<li><a href="/lizhiyulu/17533.html" target="_blank" title="写给自己的激发自信心的名言警句">写给自己的激发自信心的名言警句</a></li>
<li><a href="/lizhiyulu/17532.html" target="_blank" title="激励人奋发向上的正能量的句子">激励人奋发向上的正能量的句子</a></li>
<li><a href="/lizhiyulu/17531.html" target="_blank" title="不惧困难勇往直前的励志名言警句">不惧困难勇往直前的励志名言警句</a></li>
<li><a href="/lizhiyulu/17527.html" target="_blank" title="奋发图强的格言警句">奋发图强的格言警句</a></li>
<li><a href="/lizhiyulu/17526.html" target="_blank" title="力争上游、不甘后人的励志名言警句">力争上游、不甘后人的励志名言警</a></li>
<li><a href="/lizhiyulu/17470.html" target="_blank" title="超级励志的话语短句">超级励志的话语短句</a></li>
<li><a href="/lizhiyulu/17469.html" target="_blank" title="激励自己的奋发图强的名言短句">激励自己的奋发图强的名言短句</a></li>
</ul>
</div>
</div>

<div class="mrap mauto clear h446">
<div class="m-left fl">
<div class="title"><h3><span><a href="/lizhiwenzhang/">文章</a> / <a href="/lizhimingyan/">名言</a></span></h3></div>
<div class="category">
<div class="item mr">
<ul>
<dt><a href="/lizhiwenzhang/"><img data-original="/templets/pc/img/lizhiwenzhang.jpg" class="lazy" alt="励志文章"></a></dt>
<li><span>02-28</span><a href="/lizhiwenzhang/17540.html" target="_blank" title="你付出的多，还是得到的多？">你付出的多，还是得到的多？</a></li>
<li><span>02-25</span><a href="/lizhiwenzhang/17524.html" target="_blank" title="足够坚强才会奋进">足够坚强才会奋进</a></li>
<li><span>02-25</span><a href="/lizhiwenzhang/17523.html" target="_blank" title="脚下的路">脚下的路</a></li>
<li><span>02-25</span><a href="/lizhiwenzhang/17522.html" target="_blank" title="让灵魂休息一下，养一养它在尘世中奔波所受的伤，然后再去奔波">让灵魂休息一下，养一养它在尘世中奔波所受的伤，然后再去奔波</a></li>
<li><span>02-25</span><a href="/lizhiwenzhang/17521.html" target="_blank" title="太久没写给你，忘了我吗">太久没写给你，忘了我吗</a></li>
<li><span>02-25</span><a href="/lizhiwenzhang/17520.html" target="_blank" title="王菲：一个人的心里，要住着辽阔">王菲：一个人的心里，要住着辽阔</a></li>
<li><span>02-25</span><a href="/lizhiwenzhang/17519.html" target="_blank" title="为什么你知道这么多，还是陷入穷忙的怪圈">为什么你知道这么多，还是陷入穷忙的怪圈</a></li>
<li><span>02-25</span><a href="/lizhiwenzhang/17518.html" target="_blank" title="你没有安全感，终归是因为你没有钱">你没有安全感，终归是因为你没有钱</a></li>
<li><span>02-25</span><a href="/lizhiwenzhang/17517.html" target="_blank" title="我的光">我的光</a></li>
<li><span>02-25</span><a href="/lizhiwenzhang/17516.html" target="_blank" title="接纳父母的不完美，是一场修行">接纳父母的不完美，是一场修行</a></li>
</ul>
</div>
<div class="item">
<ul>
<dt><a href="/lizhimingyan/"><img data-original="/templets/pc/img/lizhimingyan.jpg" class="lazy" alt="励志名言"></a></dt>
<li><span>03-01</span><a href="/lizhimingyan/17559.html" target="_blank" title="激发斗志的励志名言箴言">激发斗志的励志名言箴言</a></li>
<li><span>03-01</span><a href="/lizhimingyan/17550.html" target="_blank" title="绝不服输绝不低头的励志名言">绝不服输绝不低头的励志名言</a></li>
<li><span>02-13</span><a href="/lizhimingyan/17462.html" target="_blank" title="励志名人名言名句摘抄">励志名人名言名句摘抄</a></li>
<li><span>02-10</span><a href="/lizhimingyan/17433.html" target="_blank" title="给高考学子的励志名言">给高考学子的励志名言</a></li>
<li><span>02-08</span><a href="/lizhimingyan/17425.html" target="_blank" title="一句话的人生格言，人生格言座右铭简短">一句话的人生格言，人生格言座右铭简短</a></li>
<li><span>02-08</span><a href="/lizhimingyan/17426.html" target="_blank" title="正能量名言名句大全集，正能量励志名言">正能量名言名句大全集，正能量励志名言</a></li>
<li><span>02-08</span><a href="/lizhimingyan/17424.html" target="_blank" title="鼓励自己坚强勇敢的励志名言">鼓励自己坚强勇敢的励志名言</a></li>
<li><span>02-04</span><a href="/lizhimingyan/17354.html" target="_blank" title="智者一切求自己,愚者一切求他人">智者一切求自己,愚者一切求他人</a></li>
<li><span>02-03</span><a href="/lizhimingyan/17341.html" target="_blank" title="稗子享受着禾苗一样的待遇,结出的却不是谷穗">稗子享受着禾苗一样的待遇,结出的却不是谷穗</a></li>
<li><span>01-29</span><a href="/lizhimingyan/17292.html" target="_blank" title="每次挫败失落的时候可以读一读的励志名言">每次挫败失落的时候可以读一读的励志名言</a></li>
</ul>
</div>
</div>
</div>
<div class="m-right fr">
<div class="title mb"><h3><span><a href="/renshengzheli/">人生哲理</a></span></h3></div>
<ul>
<li><a href="/renshengzheli/17558.html" target="_blank" title="时间并不会因为你而停留">时间并不会因为你而停留</a></li>
<li><a href="/renshengzheli/17557.html" target="_blank" title="安全感这回事，只能自己给自己">安全感这回事，只能自己给自己</a></li>
<li><a href="/renshengzheli/17556.html" target="_blank" title="在这个快餐时代，我却想要一些坚持">在这个快餐时代，我却想要一些坚持</a></li>
<li><a href="/renshengzheli/17555.html" target="_blank" title="爱别人前要先学会爱自己">爱别人前要先学会爱自己</a></li>
<li><a href="/renshengzheli/17554.html" target="_blank" title="我给出了人生第一笔份子钱">我给出了人生第一笔份子钱</a></li>
<li><a href="/renshengzheli/17553.html" target="_blank" title="生活里打拼，记得多点杀气，也多点温柔">生活里打拼，记得多点杀气，也多点温</a></li>
<li><a href="/renshengzheli/17548.html" target="_blank" title="真正的高贵不是出身，而是教养">真正的高贵不是出身，而是教养</a></li>
<li><a href="/renshengzheli/17539.html" target="_blank" title="忍让不是亏欠，包容不是无能">忍让不是亏欠，包容不是无能</a></li>
<li><a href="/renshengzheli/17538.html" target="_blank" title="最浪费生命的六件事">最浪费生命的六件事</a></li>
<li><a href="/renshengzheli/17537.html" target="_blank" title="做人，需要换位思考">做人，需要换位思考</a></li>
<li><a href="/renshengzheli/17488.html" target="_blank" title="论宗教">论宗教</a></li>
<li><a href="/renshengzheli/17487.html" target="_blank" title="宁静致远，处世之道">宁静致远，处世之道</a></li>
</ul>
</div>
</div>

<div class="mrap mauto clear h446">
<div class="m-left fl">
<div class="title"><h3><span><a href="/lizhigushi/">故事</a> / <a href="/qingchunlizhi/">青春</a></span></h3></div>
<div class="category">
<div class="item mr">
<ul>
<dt><a href="/lizhigushi/"><img data-original="/templets/pc/img/lizhigushi.jpg" class="lazy" alt="励志故事"></a></dt>
<li><span>02-10</span><a href="/lizhigushi/17452.html" target="_blank" title="经典励志故事2：管道的故事">经典励志故事2：管道的故事</a></li>
<li><span>02-10</span><a href="/lizhigushi/17453.html" target="_blank" title="父亲，男人最温柔的名字">父亲，男人最温柔的名字</a></li>
<li><span>02-10</span><a href="/lizhigushi/17451.html" target="_blank" title="妈妈，我心灵的港湾">妈妈，我心灵的港湾</a></li>
<li><span>02-10</span><a href="/lizhigushi/17450.html" target="_blank" title="经典励志故事5：开门的小女孩">经典励志故事5：开门的小女孩</a></li>
<li><span>02-10</span><a href="/lizhigushi/17448.html" target="_blank" title="经典励志故事7：一枚戒指">经典励志故事7：一枚戒指</a></li>
<li><span>02-10</span><a href="/lizhigushi/17449.html" target="_blank" title="经典励志故事4：信念是一粒种子">经典励志故事4：信念是一粒种子</a></li>
<li><span>02-10</span><a href="/lizhigushi/17447.html" target="_blank" title="经典励志故事1：穷人最缺少的是什么">经典励志故事1：穷人最缺少的是什么</a></li>
<li><span>02-10</span><a href="/lizhigushi/17444.html" target="_blank" title="经典励志故事3：一粒白色的金盏花种子">经典励志故事3：一粒白色的金盏花种子</a></li>
<li><span>02-10</span><a href="/lizhigushi/17445.html" target="_blank" title="经典励志故事8：为生命画一片树叶">经典励志故事8：为生命画一片树叶</a></li>
<li><span>02-10</span><a href="/lizhigushi/17446.html" target="_blank" title="经典励志故事6：瞎子的秘方">经典励志故事6：瞎子的秘方</a></li>
</ul>
</div>
<div class="item">
<ul>
<dt><a href="/qingchunlizhi/"><img data-original="/templets/pc/img/qingchunlizhi.jpg" class="lazy" alt="青春励志"></a></dt>
<li><span>02-13</span><a href="/qingchunlizhi/17460.html" target="_blank" title="关于青春友谊好朋友签名精选">关于青春友谊好朋友签名精选</a></li>
<li><span>02-08</span><a href="/qingchunlizhi/17393.html" target="_blank" title="关于爱情浪漫幸福甜蜜的心里话">关于爱情浪漫幸福甜蜜的心里话</a></li>
<li><span>02-08</span><a href="/qingchunlizhi/17392.html" target="_blank" title="关于珍惜爱情的名言名句">关于珍惜爱情的名言名句</a></li>
<li><span>02-08</span><a href="/qingchunlizhi/17391.html" target="_blank" title="描写关于爱情平淡而幸福的句子简短">描写关于爱情平淡而幸福的句子简短</a></li>
<li><span>02-08</span><a href="/qingchunlizhi/17390.html" target="_blank" title="冬天温馨甜蜜暖人心的句子大全">冬天温馨甜蜜暖人心的句子大全</a></li>
<li><span>02-08</span><a href="/qingchunlizhi/17389.html" target="_blank" title="最浪漫的表白话语简短对女生">最浪漫的表白话语简短对女生</a></li>
<li><span>02-04</span><a href="/qingchunlizhi/17360.html" target="_blank" title="如果我爱上你的笑容,要怎么收藏要怎么拥有">如果我爱上你的笑容,要怎么收藏要怎么拥有</a></li>
<li><span>02-03</span><a href="/qingchunlizhi/17345.html" target="_blank" title="女人因为愚蠢而善良,男人因为善良而愚蠢">女人因为愚蠢而善良,男人因为善良而愚蠢</a></li>
<li><span>02-03</span><a href="/qingchunlizhi/17344.html" target="_blank" title="幸福其实很简单,就是在你生病时,有人为你倒杯水,督促你吃药">幸福其实很简单,就是在你生病时,有人为你倒杯水,督促你吃药</a></li>
<li><span>02-03</span><a href="/qingchunlizhi/17343.html" target="_blank" title="就算生活给你的是垃圾,你同样能把垃圾踩在脚底下登上世界之巅">就算生活给你的是垃圾,你同样能把垃圾踩在脚底下登上世界之巅</a></li>
</ul>
</div>
</div>
</div>
<div class="m-right fr">
<div class="title mb"><h3><span><a href="/lizhiyulu/">家庭教育</a></span></h3></div>
<ul>
<li><a href="/jiatingjiaoyu/17468.html" target="_blank" title="教育孩子心得体会四篇">教育孩子心得体会四篇</a></li>
<li><a href="/jiatingjiaoyu/17439.html" target="_blank" title="十年历程，十年展望">十年历程，十年展望</a></li>
<li><a href="/jiatingjiaoyu/12409.html" target="_blank" title="我的前半生：全职太太站直了别趴下">我的前半生：全职太太站直了别趴下</a></li>
<li><a href="/jiatingjiaoyu/6776.html" target="_blank" title="中国最需教育的不是孩子，而是家长，尤其是爸爸">中国最需教育的不是孩子，而是家长</a></li>
<li><a href="/jiatingjiaoyu/6774.html" target="_blank" title="为什么穷人家的“富二代”特别多？">为什么穷人家的“富二代”特别多</a></li>
<li><a href="/jiatingjiaoyu/6772.html" target="_blank" title="当年说只要孩子快乐的，现在都在面试名校">当年说只要孩子快乐的，现在都在面</a></li>
<li><a href="/jiatingjiaoyu/6771.html" target="_blank" title="有见识的孩子，会活得更高级">有见识的孩子，会活得更高级</a></li>
<li><a href="/jiatingjiaoyu/6768.html" target="_blank" title="妈妈写给儿子：这10句话，我们不跟你说，没有人会跟你说">妈妈写给儿子：这10句话，我们不跟你</a></li>
<li><a href="/jiatingjiaoyu/6765.html" target="_blank" title="好孩子都是管出来的，熊孩子都是惯出来的">好孩子都是管出来的，熊孩子都是惯</a></li>
<li><a href="/jiatingjiaoyu/1394.html" target="_blank" title="那些5岁会背100首诗的孩子，根本就不该拿来炫耀">那些5岁会背100首诗的孩子，根本就</a></li>
<li><a href="/jiatingjiaoyu/1392.html" target="_blank" title="你耕不动的田，凭什么不让别人来">你耕不动的田，凭什么不让别人来</a></li>
<li><a href="/jiatingjiaoyu/1389.html" target="_blank" title="中国式父母，正在用付出毁掉下一代">中国式父母，正在用付出毁掉下一代</a></li>
</ul>
</div>
</div>

<div class="mrap mauto clear h446">
<div class="m-left fl">
<div class="title"><h3><span><a href="/chenggonglizhi/">成功</a> / <a href="/lizhichuangye/">创业</a></span></h3></div>
<div class="category">
<div class="item mr">
<ul>
<dt><a href="/chenggonglizhi/"><img data-original="/templets/pc/img/chenggonglizhi.jpg" class="lazy" alt="成功励志"></a></dt>
<li><span>01-31</span><a href="/chenggonglizhi/17314.html" target="_blank" title="如何在没有经验的前提下找到心仪的公司？">如何在没有经验的前提下找到心仪的公司？</a></li>
<li><span>12-25</span><a href="/chenggonglizhi/12423.html" target="_blank" title="不是有了基础才行动，而是有了行动才有基础">不是有了基础才行动，而是有了行动才有基础</a></li>
<li><span>12-25</span><a href="/chenggonglizhi/12422.html" target="_blank" title="内向的人真的很难获得成功？">内向的人真的很难获得成功？</a></li>
<li><span>12-25</span><a href="/chenggonglizhi/12421.html" target="_blank" title="绝不能对老板说的傻话">绝不能对老板说的傻话</a></li>
<li><span>12-25</span><a href="/chenggonglizhi/12420.html" target="_blank" title="我们认知的不断升级，我们的世界才显得更加公平">我们认知的不断升级，我们的世界才显得更加公平</a></li>
<li><span>12-25</span><a href="/chenggonglizhi/12419.html" target="_blank" title="真正的勤奋，不等于忙碌">真正的勤奋，不等于忙碌</a></li>
<li><span>12-25</span><a href="/chenggonglizhi/12418.html" target="_blank" title="舒适圈，时间长了，就成了猪圈">舒适圈，时间长了，就成了猪圈</a></li>
<li><span>12-25</span><a href="/chenggonglizhi/12417.html" target="_blank" title="其实每个人都蕴藏着无限的潜力">其实每个人都蕴藏着无限的潜力</a></li>
<li><span>12-25</span><a href="/chenggonglizhi/12416.html" target="_blank" title="为什么你的工作总是越做越不开心？">为什么你的工作总是越做越不开心？</a></li>
<li><span>12-25</span><a href="/chenggonglizhi/12415.html" target="_blank" title="一个普通人应该如何发现自己的特长？">一个普通人应该如何发现自己的特长？</a></li>
</ul>
</div>
<div class="item">
<ul>
<dt><a href="/lizhichuangye/"><img data-original="/templets/pc/img/lizhichuangye.jpg" class="lazy" alt="励志创业"></a></dt>
<li><span>12-25</span><a href="/lizhichuangye/12413.html" target="_blank" title="适合年轻人创业的项目怎么找">适合年轻人创业的项目怎么找</a></li>
<li><span>12-25</span><a href="/lizhichuangye/12412.html" target="_blank" title="三个农村农产品加工厂创业好项目推荐">三个农村农产品加工厂创业好项目推荐</a></li>
<li><span>12-25</span><a href="/lizhichuangye/12411.html" target="_blank" title="乡镇现在有什么创业好项目适合新手的">乡镇现在有什么创业好项目适合新手的</a></li>
<li><span>12-25</span><a href="/lizhichuangye/12410.html" target="_blank" title="现在农村家庭养殖致富项目有哪些">现在农村家庭养殖致富项目有哪些</a></li>
<li><span>12-15</span><a href="/lizhichuangye/10379.html" target="_blank" title="农村热门养殖致富项目推荐">农村热门养殖致富项目推荐</a></li>
<li><span>12-15</span><a href="/lizhichuangye/10378.html" target="_blank" title="双十一红包赶紧抢？双十一防骗指南告诉你谨慎点儿">双十一红包赶紧抢？双十一防骗指南告诉你谨慎点儿</a></li>
<li><span>12-15</span><a href="/lizhichuangye/10377.html" target="_blank" title="农村从事养殖业的九个风险因素">农村从事养殖业的九个风险因素</a></li>
<li><span>12-12</span><a href="/lizhichuangye/7114.html" target="_blank" title="没钱到底怎么创业？">没钱到底怎么创业？</a></li>
<li><span>12-12</span><a href="/lizhichuangye/7113.html" target="_blank" title="弯路也是必经之路">弯路也是必经之路</a></li>
<li><span>12-12</span><a href="/lizhichuangye/7112.html" target="_blank" title="我所经历的五次股灾">我所经历的五次股灾</a></li>
</ul>
</div>
</div>
</div>
<div class="m-right fr">
<div class="title mb"><h3><span><a href="/lizhichuangye/">励志人物</a></span></h3></div>
<ul>
<li><a href="/lizhirenwu/17459.html" target="_blank" title="让我当个句号吧">让我当个句号吧</a></li>
<li><a href="/lizhirenwu/7138.html" target="_blank" title="不要轻言放弃，这些商界大佬25岁的境遇未必比你强">不要轻言放弃，这些商界大佬25岁的</a></li>
<li><a href="/lizhirenwu/7139.html" target="_blank" title="科学家霍金的励志人生">科学家霍金的励志人生</a></li>
<li><a href="/lizhirenwu/7140.html" target="_blank" title="岳云鹏：从厕所清洁工到央视春晚大明星">岳云鹏：从厕所清洁工到央视春晚大</a></li>
<li><a href="/lizhirenwu/7137.html" target="_blank" title="刘强东：我如何从卖碟做到身家六百亿">刘强东：我如何从卖碟做到身家六百</a></li>
<li><a href="/lizhirenwu/7135.html" target="_blank" title="从身无分文到5000亿帝国，许家印是如何炼成的？">从身无分文到5000亿帝国，许家印是</a></li>
<li><a href="/lizhirenwu/7136.html" target="_blank" title="自己挣的是应得，他给的是惊喜">自己挣的是应得，他给的是惊喜</a></li>
<li><a href="/lizhirenwu/7134.html" target="_blank" title="那些世界上最成功的人，25岁的时候在做什么？">那些世界上最成功的人，25岁的时候</a></li>
<li><a href="/lizhirenwu/7132.html" target="_blank" title="陶华碧，封闭的王国和低调的女王">陶华碧，封闭的王国和低调的女王</a></li>
<li><a href="/lizhirenwu/7133.html" target="_blank" title="传奇大亨郭正利：总裁到小贩，没能等来再起的波折人生">传奇大亨郭正利：总裁到小贩，没能等</a></li>
<li><a href="/lizhirenwu/7131.html" target="_blank" title="秦乔红：铸铁成花，一个弱女子的成功之道">秦乔红：铸铁成花，一个弱女子的成功</a></li>
<li><a href="/lizhirenwu/7129.html" target="_blank" title="网易丁磊：互联网考场里的“奇葩”">网易丁磊：互联网考场里的“奇葩”</a></li>
</ul>
</div>
</div>

<div class="mrap mauto clear h446">
<div class="m-left fl">
<div class="title"><h3><span><a href="/shicimingju/">诗词</a> / <a href="/zhufuyu/">祝福语</a></span></h3></div>
<div class="category">
<div class="item mr">
<ul>
<dt><a href="/lizhigushi/"><img data-original="/templets/pc/img/sici.jpg" class="lazy" alt="诗词名句"></a></dt>
<li><span>03-01</span><a href="/shicimingju/17552.html" target="_blank" title="古诗中关于下雨的优美诗句有哪些？">古诗中关于下雨的优美诗句有哪些？</a></li>
<li><span>02-13</span><a href="/shicimingju/17465.html" target="_blank" title="唐诗宋词元曲经典名句大全三篇">唐诗宋词元曲经典名句大全三篇</a></li>
<li><span>01-23</span><a href="/shicimingju/17240.html" target="_blank" title="《满江红·记梦遇心人》心路">《满江红·记梦遇心人》心路</a></li>
<li><span>01-15</span><a href="/shicimingju/17156.html" target="_blank" title="下雪的句子写心情，描写雪景心情的句子">下雪的句子写心情，描写雪景心情的句子</a></li>
<li><span>01-07</span><a href="/shicimingju/15118.html" target="_blank" title="微信朋友圈里最优美的句子">微信朋友圈里最优美的句子</a></li>
<li><span>01-03</span><a href="/shicimingju/13585.html" target="_blank" title="写给闺蜜的话霸气的句子，适合写给闺蜜的一句话">写给闺蜜的话霸气的句子，适合写给闺蜜的一句话</a></li>
<li><span>01-03</span><a href="/shicimingju/13583.html" target="_blank" title="那些煽情动人的话，很煽情很感人的话">那些煽情动人的话，很煽情很感人的话</a></li>
<li><span>12-28</span><a href="/shicimingju/12582.html" target="_blank" title="关于心灰意冷的句子，表达心灰意冷的诗句">关于心灰意冷的句子，表达心灰意冷的诗句</a></li>
<li><span>12-20</span><a href="/shicimingju/12208.html" target="_blank" title="关于描写雪的优美的句子，描写雪花的好句优美段落">关于描写雪的优美的句子，描写雪花的好句优美段落</a></li>
<li><span>12-19</span><a href="/shicimingju/12092.html" target="_blank" title="思念一个人的句子，思念的句子，想念一个人的句子">思念一个人的句子，思念的句子，想念一个人的句子</a></li>
</ul>
</div>
<div class="item">
<ul>
<dt><a href="/qingchunlizhi/"><img data-original="/templets/pc/img/zhufu.jpg" class="lazy" alt="祝福语"></a></dt>
<li><span>03-01</span><a href="/zhufuyu/17551.html" target="_blank" title="正月十五猜灯谜，正月十五元宵节祝福语精选">正月十五猜灯谜，正月十五元宵节祝福语精选</a></li>
<li><span>03-01</span><a href="/zhufuyu/17549.html" target="_blank" title="元宵节祝福短信，元宵祝福短信大全">元宵节祝福短信，元宵祝福短信大全</a></li>
<li><span>02-28</span><a href="/zhufuyu/17542.html" target="_blank" title="送给老公的元宵节甜蜜祝福语简短">送给老公的元宵节甜蜜祝福语简短</a></li>
<li><span>02-28</span><a href="/zhufuyu/17541.html" target="_blank" title="元宵节给女友的温馨祝福语">元宵节给女友的温馨祝福语</a></li>
<li><span>02-27</span><a href="/zhufuyu/17530.html" target="_blank" title="三八妇女节给老婆的甜蜜祝福语">三八妇女节给老婆的甜蜜祝福语</a></li>
<li><span>02-27</span><a href="/zhufuyu/17529.html" target="_blank" title="妇女节送朋友的英文祝福语简短">妇女节送朋友的英文祝福语简短</a></li>
<li><span>02-27</span><a href="/zhufuyu/17528.html" target="_blank" title="春天给家人的温馨问候短信">春天给家人的温馨问候短信</a></li>
<li><span>02-27</span><a href="/zhufuyu/17525.html" target="_blank" title="妇女节送女同事的祝福语">妇女节送女同事的祝福语</a></li>
<li><span>02-13</span><a href="/zhufuyu/17464.html" target="_blank" title="祝福弟弟生日祝福语">祝福弟弟生日祝福语</a></li>
<li><span>02-13</span><a href="/zhufuyu/17463.html" target="_blank" title="给姐姐生日祝福语大全">给姐姐生日祝福语大全</a></li>
</ul>
</div>
</div>
</div>
<div class="m-right fr">
<div class="title mb"><h3><span><a href="/jingdiantaici/">经典台词</a></span></h3></div>
<ul>
<li><a href="/jingdiantaici/17383.html" target="_blank" title="电视剧《凤囚凰》经典台词语录">电视剧《凤囚凰》经典台词语录</a></li>
<li><a href="/jingdiantaici/17351.html" target="_blank" title="电视剧经典台词语录《凤囚凰》">电视剧经典台词语录《凤囚凰》</a></li>
<li><a href="/jingdiantaici/17349.html" target="_blank" title="电视剧《一路繁花相送》经典台词">电视剧《一路繁花相送》经典台词</a></li>
<li><a href="/jingdiantaici/563.html" target="_blank" title="《这个杀手不太冷》经典几句话">《这个杀手不太冷》经典几句话</a></li>
<li><a href="/jingdiantaici/560.html" target="_blank" title="《外科风云》经典台词">《外科风云》经典台词</a></li>
<li><a href="/jingdiantaici/557.html" target="_blank" title="电影《攻壳机动队》经典台词">电影《攻壳机动队》经典台词</a></li>
<li><a href="/jingdiantaici/554.html" target="_blank" title="电影《乐高蝙蝠侠》经典台词赏析">电影《乐高蝙蝠侠》经典台词赏析</a></li>
<li><a href="/jingdiantaici/551.html" target="_blank" title="综艺《朗读者》董卿开场白台词">综艺《朗读者》董卿开场白台词</a></li>
<li><a href="/jingdiantaici/549.html" target="_blank" title="50句电视剧唯美经典台词语句，总有一句打动你">50句电视剧唯美经典台词语句，总有</a></li>
<li><a href="/jingdiantaici/550.html" target="_blank" title="歌舞电影《爱乐之城》精选台词">歌舞电影《爱乐之城》精选台词</a></li>
<li><a href="/jingdiantaici/548.html" target="_blank" title="电视剧《大秦帝国之崛起》经典台词">电视剧《大秦帝国之崛起》经典台</a></li>
<li><a href="/jingdiantaici/547.html" target="_blank" title="《人民的名义》幕后黑手结局大解析">《人民的名义》幕后黑手结局大解</a></li>
</ul>
</div>
</div>
<div id="flink" class="mrap mauto clear">
<div class="title"><h3><span>合作伙伴</span></h3><strong>天天励志合作要求：励志,创业,感悟,成功等内容相关类美文网站（<a rel="nofollow" target=blank href=tencent://message/?uin=44824482&Site=天天励志&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:44824482:9 alt="点击这里给我发消息"></a>）</strong></div>
<ul>
<li><a href='http://www.tiantianlizhi.cn/xiaoxuezuowen/' target='_blank'>小学生作文大全</a></li><li><a href='http://www.zhaozongjie.com/' target='_blank'>工作总结</a></li> </ul>
</div>
</div>

</div>

<div class="container-bottom clear mauto"></div>
<div id="footer" class="footer">
<p class="p_1">
<a href="/about/" target="_blank" rel="nofollow">关于我们</a>|<a href="/service/" target="_blank" rel="nofollow">服务条款</a>|<a href="/contact/" target="_blank" rel="nofollow">联系我们</a>|<a href="/tougao/" target="_blank" rel="nofollow">投稿帮助</a>|<a href="/sitemap.html" target="_blank" rel="nofollow">网站地图</a>|<a href="/rss.xml" rel="nofollow">RSS订阅</a>|<a href="javascript:vod(0);" rel="nofollow" onclick="qqemail();" style="text-decoration:none;">问题反馈</a>|<a href="http://m.tiantianlizhi.cn" target="_blank" rel="nofollow">手机版</a>
</p>
<p class="p_2">提供<a href="/lizhimingyan/" target="_blank">经典励志名言</a>,<a href="/lizhigushi/" target="_blank">励志故事大全</a>,<a href="/renshengzheli/" target="_blank">人生哲理故事</a>,<a href="/qingchunlizhi/" target="_blank">青春励志语录</a>,<a href="/lizhiyulu/" target="_blank">励志语录</a>,<a href="/chenggonglizhi/" target="_blank">成功励志</a>,<a href="/lizhirenwu/" target="_blank">励志人物</a>等在线阅读欣赏</a></p>
<p class="p_2">Copyright © 2017-2018 <a href="" title="天天励志" rel="nofollow">www.tiantianlizhi.cn</a> All Rights Reserved. <a href="" title="天天励志">天天励志</a> 版权所有</p>
<p class="p_2">备案信息：<a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">冀ICP备14004780号-3</a> · 联系邮箱：<a href="javascript:vod(0);" rel="nofollow" onclick="qqemail();" style="text-decoration:none;">44824482@qq.com</a> <script src="https://s19.cnzz.com/z_stat.php?id=1271312128&web_id=1271312128" language="JavaScript"></script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?a0994425f639526ac7307497d318d2b3";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</p>
<div class="footer_service">
<p class="p_2">本站所收录作品、热点评论等信息部分来源互联网，目的只是为了系统归纳学习和传递资讯</p>
<p class="p_2">所有作品版权归原创作者所有，与本站立场无关，如不慎侵犯了你的权益，请联系我们告知，我们将做删除处理！</p>
</div>
</div>

<div class="scrollmenu none" id="Scrollingmenu">
<a href="javascript:;" class="qrcode"></a>
<div class="qrcode-img none"><img src="/templets/pc/img/qrcode.png" alt="天天励志微信扫一扫" width="240" height="240px;"></div>
<a href="javascript:;" id="gotop"></a>
</div>

<script>
function qqemail(){  childWindow =window.open('http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=44824482@qq.com','newwindow','height=450,width=800,top=150,left=280,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');}
</script>
<script type="text/javascript" src="/templets/pc/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="/templets/pc/js/bdshare.js"></script>
<script type="text/javascript">lazy();</script>
</body>
</html>