
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="mobile-agent" content="format=html5; url=http://m.tiantianlizhi.cn/lizhiwenzhang/ " />
<meta name="mobile-agent" content="format=xhtml; url=http://m.tiantianlizhi.cn/lizhiwenzhang/ " />
<title>励志文章_励志文章阅读_励志文章网-天天励志</title>
<meta name="keywords" content="励志文章,励志文章阅读,励志文章网,天天励志" />
<meta name="description" content="天天励志本页倾心奉献最好的励志文章资料，查找励志文章，励志文章阅读，励志文章网，从这里开始。" />
<link rel="stylesheet" type="text/css" href="${base}/templates/${config.theme}/front/static/css/common.css">
<script type="text/javascript" src="${base}/templates/${config.theme}/front/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="${base}/templates/${config.theme}/front/static/js/jquery-lz.js"></script>
<meta property="og:type" content="article" />
<meta property="og:image" content="http://www.tiantianlizhi.cn/templets/pc/img/360logo.jpg" />
<meta property="og:release_date" content="2018-03-04 17:59:07" />
</head>
<body>
<!--头部开始-->
[#include "/templates/${config.theme}/front/header.html" /]
<!--头部结束-->
<div id="container">
<div class="main mauto">
<div class="mrap mauto">
<div class="w-left fl">
<div class="local">当前位置：<a href="/">首页</a>&nbsp;>&nbsp;<a href="/lizhiwenzhang/">励志文章</a> > 文章列表页</div>
<ul class="w-list">
<li>
<h2><span>阅读：764次&nbsp;&nbsp;&nbsp;日期：2018-02-28</span><a href="/lizhiwenzhang/17540.html" title="你付出的多，还是得到的多？" target="_blank">你付出的多，还是得到的多？</a></h2>
<p>你付出的多，还是得到的多？我们生活在这个社会上，会有很多的朋友同事，我们无论对谁，不可能总是以为的求回报而不去付出，下面这篇文章大家欣赏！ 哪个圈子其实都不大，资深...<a href="/lizhiwenzhang/17540.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：54次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17524.html" title="足够坚强才会奋进" target="_blank">足够坚强才会奋进</a></h2>
<p>当你感觉孤独和失望的时候，你会发现你离成功可能不远了，奋进的人永远向往明天的太阳，失望很痛苦，经历多了你才会成熟，你才会发现失败后的阳光，天不可能一直黑暗，当你坚持到黑暗最后的时候你就会发现阳光和现实就会接近你的生活。 无论你对么强大，但你...<a href="/lizhiwenzhang/17524.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：3160次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17523.html" title="脚下的路" target="_blank">脚下的路</a></h2>
<p>一个人，可以出身卑微，但唯独不能没有梦想。人生的路还很长，梦想是美的向往，只要梦想存在，就有改变梦想的动力和改变人生的机会。 梦想是伟大的，即使你做的事情很简单，为社会做了一些微不足道的事，你的梦想就很强大，就会取得成功后的喜悦。然后把梦想...<a href="/lizhiwenzhang/17523.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：2077次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17522.html" title="让灵魂休息一下，养一养它在尘世中奔波所受的伤，然后再去奔波" target="_blank">让灵魂休息一下，养一养它在尘世中奔波所受的伤，然后再去奔波</a></h2>
<p>让灵魂休息一下，养一养它在尘世中奔波所受的伤，然后再去奔波...<a href="/lizhiwenzhang/17522.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：1131次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17521.html" title="太久没写给你，忘了我吗" target="_blank">太久没写给你，忘了我吗</a></h2>
<p>听说你又长胖了，听说你得了胃炎，哎哟，真是活该。十五岁的我对十四岁的我说道。太久没有写给自己，忘了吗? 忘了自己是怎么一次次崩溃的吗?忘了自己为了那一点点小小成就都会好开森，好开森的，我还是我吗?不是吗?我可能是奥特曼，是猪猪侠，是毒死白雪公主...<a href="/lizhiwenzhang/17521.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：2594次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17519.html" title="为什么你知道这么多，还是陷入穷忙的怪圈" target="_blank">为什么你知道这么多，还是陷入穷忙的怪圈</a></h2>
<p>今天的我们时刻都生活在网络的世界，信息、资讯以几何速度递增，如今，我们想要精通所有的知识是不可能的。信息、资讯爆炸式地增长时刻冲击着我们，由于生活节奏的加快，时间也越来越碎片化，注意力成为最为重要的稀缺资源。碎片化的时间，我们可以了解很多...<a href="/lizhiwenzhang/17519.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：2562次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17520.html" title="王菲：一个人的心里，要住着辽阔" target="_blank">王菲：一个人的心里，要住着辽阔</a></h2>
<p>王菲：一个人的心里，要住着辽阔...<a href="/lizhiwenzhang/17520.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：1373次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17517.html" title="我的光" target="_blank">我的光</a></h2>
<p>是否，在黑夜中给予我力量?是否，在无路可走时指引我方向?是否，在胆怯退缩时坚定我的信仰? 我知道，你可以，因为，你一直是我心中一道最亮眼的光。 我的光，见证了我无数个日夜的彷徨与期待。我的光，知道我的恐惧，也知道我所憧憬的那个未来。 在我停滞不...<a href="/lizhiwenzhang/17517.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：2581次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17518.html" title="你没有安全感，终归是因为你没有钱" target="_blank">你没有安全感，终归是因为你没有钱</a></h2>
<p>你没有安全感，终归是因为你没有钱...<a href="/lizhiwenzhang/17518.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：577次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17516.html" title="接纳父母的不完美，是一场修行" target="_blank">接纳父母的不完美，是一场修行</a></h2>
<p>接纳父母的不完美，是一场修行...<a href="/lizhiwenzhang/17516.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：879次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17514.html" title="人生谁为你买单" target="_blank">人生谁为你买单</a></h2>
<p>无忧无虑，天真无邪，那是孩子的生活;悠闲自在，喜乐说笑，那是老人的生活;忙忙碌碌，为钱奔跑，那是青年人的生活。不同阶段有着不同的生活方式，那人生谁来买单? 有人说：人生如同一场正在直播的戏，每个人都在这部戏中扮演着不同的角色。然而，每个人却又...<a href="/lizhiwenzhang/17514.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：422次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17515.html" title="请相信，只要认真地活着，时光就不会亏待你" target="_blank">请相信，只要认真地活着，时光就不会亏待你</a></h2>
<p>请相信，只要认真地活着，时光就不会亏待你...<a href="/lizhiwenzhang/17515.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：186次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17513.html" title="你读过的书里，藏着你的阶层" target="_blank">你读过的书里，藏着你的阶层</a></h2>
<p>你读过的书里，藏着你的阶层...<a href="/lizhiwenzhang/17513.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：3746次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17512.html" title="慢下来，遇见最好的自己" target="_blank">慢下来，遇见最好的自己</a></h2>
<p>慢下来，遇见最好的自己...<a href="/lizhiwenzhang/17512.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：1616次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17509.html" title="你不努力，凭什么能过上好日子" target="_blank">你不努力，凭什么能过上好日子</a></h2>
<p>你不努力，凭什么能过上好日子...<a href="/lizhiwenzhang/17509.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：1804次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17510.html" title="什么能量才能支撑一个人走过人生的低谷和迷茫？" target="_blank">什么能量才能支撑一个人走过人生的低谷和迷茫？</a></h2>
<p>什么能量才能支撑一个人走过人生的低谷和迷茫？...<a href="/lizhiwenzhang/17510.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：3439次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17511.html" title="努力奋斗，只因不想成为被命运选择的人" target="_blank">努力奋斗，只因不想成为被命运选择的人</a></h2>
<p>毕业多年后，某天，突然想静下来想想自己这些年来的所得所感，某个阶段有激动人心的时刻，某个阶段也有信心全无的悲伤时刻。总的来说，人生走到今天，还是保持了一种积极向上的态势，始终坚持奋斗，忠于某个时刻的使命。 学生时代，下海经商是造就了一代弄潮...<a href="/lizhiwenzhang/17511.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：3725次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17506.html" title="2018年，请立刻停止你的抱怨" target="_blank">2018年，请立刻停止你的抱怨</a></h2>
<p>2018年，请立刻停止你的抱怨...<a href="/lizhiwenzhang/17506.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：1138次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17507.html" title="努力实现100+个目标，我就是想要开挂的人生！" target="_blank">努力实现100+个目标，我就是想要开挂的人生！</a></h2>
<p>努力实现100+个目标，我就是想要开挂的人生！...<a href="/lizhiwenzhang/17507.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
<li>
<h2><span>阅读：3517次&nbsp;&nbsp;&nbsp;日期：2018-02-25</span><a href="/lizhiwenzhang/17508.html" title="奋斗的目的" target="_blank">奋斗的目的</a></h2>
<p>奋斗，是我们无论在学校还是在职场都提倡的一种行为，它倡导我们积极向上，乐观面对，为稍纵即逝的机会时刻做好准备。为什么要奋斗，每个人都会结合自身的经历，给出丰富的答案。此处并没有所谓的标准答案，只是各自对未来的一种期许。 我们大多数人都只是普...<a href="/lizhiwenzhang/17508.html" target="_blank" rel="nofollow">[阅读全文]</a></p>
</li>
</ul>
<div class="page">
<ul><li><a href="/lizhiwenzhang/index.html">首页</a></li><li class="thisclass">1</li><li><a href="/lizhiwenzhang/index_2.html">2</a></li><li><a href="/lizhiwenzhang/index_3.html">3</a></li><li><a href="/lizhiwenzhang/index_4.html">4</a></li><li><a href="/lizhiwenzhang/index_5.html">5</a></li><li><a href="/lizhiwenzhang/index_6.html">6</a></li><li><a href="/lizhiwenzhang/index_7.html">7</a></li><li><a href="/lizhiwenzhang/index_2.html">下一页</a></li><li><a href="/lizhiwenzhang/index_276.html">尾页</a></li></ul>
</div>
</div>
<div class="ar-right fr">
<div class="m-right mb">
<div class="title mb"><h3><span>热门励志文章</span></h3></div>
<ul>
<li><a href="/lizhiwenzhang/12678.html" target="_blank" title="梦绽放">梦绽放</a></li>
<li><a href="/lizhiwenzhang/6354.html" target="_blank" title="条条大路通罗马，前提是目标够清晰">条条大路通罗马，前提是目标够清</a></li>
<li><a href="/lizhiwenzhang/14441.html" target="_blank" title="生命之舟">生命之舟</a></li>
<li><a href="/lizhiwenzhang/15534.html" target="_blank" title="如何从一个空有上进心的人，变成行动上的巨人？">如何从一个空有上进心的人，变成</a></li>
<li><a href="/lizhiwenzhang/12936.html" target="_blank" title="123木头人">123木头人</a></li>
<li><a href="/lizhiwenzhang/14511.html" target="_blank" title="这个世界独一无二的你">这个世界独一无二的你</a></li>
<li><a href="/lizhiwenzhang/14118.html" target="_blank" title="上伐心，次而伐笔（关于写文）">上伐心，次而伐笔（关于写文）</a></li>
<li><a href="/lizhiwenzhang/5997.html" target="_blank" title="如何正确填补自己的空虚">如何正确填补自己的空虚</a></li>
<li><a href="/lizhiwenzhang/15476.html" target="_blank" title="是什么在磨你的心态">是什么在磨你的心态</a></li>
<li><a href="/lizhiwenzhang/12958.html" target="_blank" title="景山少爷讲道集（第七讲）">景山少爷讲道集（第七讲）</a></li>
<li><a href="/lizhiwenzhang/15463.html" target="_blank" title="生活的色彩">生活的色彩</a></li>
<li><a href="/lizhiwenzhang/6400.html" target="_blank" title="决定命运的事情早已发生">决定命运的事情早已发生</a></li>
</ul>
</div>
<div class="ad300 mb"><script src="/d/js/acmsd/thea2.js"></script></div>
<div class="m-right mb">
<div class="title mb"><h3><span>推荐励志文章</span></h3></div>
<ul>
<li><a href="/lizhiwenzhang/12783.html" target="_blank" title="什么是最宝贵的！">什么是最宝贵的！</a></li>
<li><a href="/lizhiwenzhang/14901.html" target="_blank" title="军训，做不一样的自己">军训，做不一样的自己</a></li>
<li><a href="/lizhiwenzhang/14001.html" target="_blank" title="做一个“行者”">做一个“行者”</a></li>
<li><a href="/lizhiwenzhang/14698.html" target="_blank" title="言自心.文成人">言自心.文成人</a></li>
<li><a href="/lizhiwenzhang/14836.html" target="_blank" title="爱的一种解释">爱的一种解释</a></li>
<li><a href="/lizhiwenzhang/6022.html" target="_blank" title="挑战逆境，赢得辉煌的人生">挑战逆境，赢得辉煌的人生</a></li>
<li><a href="/lizhiwenzhang/5842.html" target="_blank" title="懒汉太多，只要做到基本的勤劳，就可以致富">懒汉太多，只要做到基本的勤劳，就</a></li>
<li><a href="/lizhiwenzhang/13870.html" target="_blank" title="在绝境中展翅（Ⅱ）">在绝境中展翅（Ⅱ）</a></li>
<li><a href="/lizhiwenzhang/14329.html" target="_blank" title="努力才有更多的选择">努力才有更多的选择</a></li>
<li><a href="/lizhiwenzhang/14621.html" target="_blank" title="暑假，你睡够了吗？">暑假，你睡够了吗？</a></li>
<li><a href="/lizhiwenzhang/12966.html" target="_blank" title="灵命典籍天国佳酿">灵命典籍天国佳酿</a></li>
<li><a href="/lizhiwenzhang/13796.html" target="_blank" title="国学之思">国学之思</a></li>
</ul>
</div>
<div class="sidefixed fr">
<div class="ad300"><script src="/d/js/acmsd/thea1.js"></script></div>
</div>
</div>
</div>
</div>
</div>

<div class="container-bottom clear mauto"></div>
<div id="footer" class="footer">
<p class="p_1">
<a href="/about/" target="_blank" rel="nofollow">关于我们</a>|<a href="/service/" target="_blank" rel="nofollow">服务条款</a>|<a href="/contact/" target="_blank" rel="nofollow">联系我们</a>|<a href="/tougao/" target="_blank" rel="nofollow">投稿帮助</a>|<a href="/sitemap.html" target="_blank" rel="nofollow">网站地图</a>|<a href="/rss.xml" rel="nofollow">RSS订阅</a>|<a href="javascript:vod(0);" rel="nofollow" onclick="qqemail();" style="text-decoration:none;">问题反馈</a>|<a href="http://m.tiantianlizhi.cn" target="_blank" rel="nofollow">手机版</a>
</p>
<p class="p_2">提供<a href="/lizhimingyan/" target="_blank">经典励志名言</a>,<a href="/lizhigushi/" target="_blank">励志故事大全</a>,<a href="/renshengzheli/" target="_blank">人生哲理故事</a>,<a href="/qingchunlizhi/" target="_blank">青春励志语录</a>,<a href="/lizhiyulu/" target="_blank">励志语录</a>,<a href="/chenggonglizhi/" target="_blank">成功励志</a>,<a href="/lizhirenwu/" target="_blank">励志人物</a>等在线阅读欣赏</a></p>
<p class="p_2">Copyright © 2017-2018 <a href="" title="天天励志" rel="nofollow">www.tiantianlizhi.cn</a> All Rights Reserved. <a href="" title="天天励志">天天励志</a> 版权所有</p>
<p class="p_2">备案信息：<a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">冀ICP备14004780号-3</a> · 联系邮箱：<a href="javascript:vod(0);" rel="nofollow" onclick="qqemail();" style="text-decoration:none;">44824482@qq.com</a> <script src="https://s19.cnzz.com/z_stat.php?id=1271312128&web_id=1271312128" language="JavaScript"></script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?a0994425f639526ac7307497d318d2b3";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</p>
<div class="footer_service">
<p class="p_2">本站所收录作品、热点评论等信息部分来源互联网，目的只是为了系统归纳学习和传递资讯</p>
<p class="p_2">所有作品版权归原创作者所有，与本站立场无关，如不慎侵犯了你的权益，请联系我们告知，我们将做删除处理！</p>
</div>
</div>

<div class="scrollmenu none" id="Scrollingmenu">
<a href="javascript:;" class="qrcode"></a>
<div class="qrcode-img none"><img src="/templets/pc/img/qrcode.png" alt="天天励志微信扫一扫" width="240" height="240px;"></div>
<a href="javascript:;" id="gotop"></a>
</div>

<script>
function qqemail(){  childWindow =window.open('http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=44824482@qq.com','newwindow','height=450,width=800,top=150,left=280,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');}
</script>
<script type="text/javascript" src="/templets/pc/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="/templets/pc/js/bdshare.js"></script>
<script type="text/javascript">lazy();sidefixed();</script>
</body>
</html>