<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>服务条款-天天励志</title>
<meta name="keywords" content="#" />
<meta name="description" content="#" />
<link rel="stylesheet" type="text/css" href="/templets/pc/css/common.css">
</head>
<body class="bgno">
<div class="a-page">
<div class="header">
<div class="logo fl"><a href="/"><img src="/templets/pc/img/logo.png" alt="天天励志"></a></div>
<ul class="link fr">
<li class="active"><a href="/" rel="nofollow">网站首页</a></li>
<li><a href="/about/" rel="nofollow">了解我们</a></li>
<li><a href="/sitemap.html" rel="nofollow">网站地图</a></li>
<li><a href="/tougao/" rel="nofollow">投稿帮助</a></li>
<li><a href="/tag/tags.html">TAG标签</a></li>
<li><a href="javascript:vod(0);" rel="nofollow" onclick="qqemail();" style="text-decoration:none;">问题反馈</a></li>
</ul>
</div>
<div class="a-box">
<div class="a-left fl">
<ul>
<li><a href="/about/" rel="nofollow">关于我们</a></li>
<li class="active"><a href="/service/" rel="nofollow">服务条款</a></li>
<li><a href="/contact/" rel="nofollow">联系方式</a></li>
<li><a href="javascript:vod(0);" rel="nofollow" onclick="qqemail();" style="text-decoration:none;">问题反馈</a></li>
</ul>
</div>
<div class="a-right fr">
<h3><span>服务条款</span></h3>
<div class="a-con">
<div>
　　天天励志大部分内容来源互联网，如果侵犯了你的权益，请与我们联系，我们会尽快为您处理。</div>
<div>
　　天天励志开通了投稿功能，如果您是文章的原作者而我们没有注明或者注明有误，请与我们联系处理。</div>
<div>
　　在天天励志投稿的文章，短文学具有最终解释权。</div>
<div>
　　投稿请自觉遵守相关法律，对于不合符法律条款的文章一律不予通过。</div>
<div>
　　如果您需要转载本站的文章信息等，请注明来源天天励志，并链接指向具体文章。</div>
</div>
</div>
<div class="copyright clear">Copyright © 2017-2018 tiantianlizhi.cn All Rights Reserved. 冀ICP备14004780号-3 <script src="https://s19.cnzz.com/z_stat.php?id=1271312128&web_id=1271312128" language="JavaScript"></script>
</div>
</div>
</div>
</body>
</html>
<script type="text/javascript">function qqemail(){  childWindow =window.open('http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=44824482@qq.com','newwindow','height=450,width=800,top=150,left=280,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');}</script>