
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>投稿帮助-天天励志</title>
<meta name="keywords" content="#" />
<meta name="description" content="#" />
<link rel="stylesheet" type="text/css" href="/templets/pc/css/common.css">
</head>
<body class="bgno">
<div class="a-page">
<div class="header">
<div class="logo fl"><a href="/"><img src="/templets/pc/img/logo.png" alt="天天励志"></a></div>
<ul class="link fr">
<li><a href="/" rel="nofollow">网站首页</a></li>
<li><a href="/about/" rel="nofollow">了解我们</a></li>
<li><a href="/sitemap.html" rel="nofollow">网站地图</a></li>
<li class="active"><a href="/tougao/" rel="nofollow">投稿帮助</a></li>
<li><a href="/tag/tags.html">TAG标签</a></li>
<li><a href="javascript:vod(0);" rel="nofollow" onclick="qqemail();" style="text-decoration:none;">问题反馈</a></li>
</ul>
</div>
<div class="a-box">
<div class="a-left fl">
<ul>
<li><a href="/about/" rel="nofollow">关于我们</a></li>
<li><a href="/service/" rel="nofollow">服务条款</a></li>
<li><a href="/contact/" rel="nofollow">联系方式</a></li>
<li><a href="javascript:vod(0);" rel="nofollow" onclick="qqemail();" style="text-decoration:none;">问题反馈</a></li>
</ul>
</div>
<div class="a-right fr">
<h3><span>投稿帮助</span></h3>
<div class="a-con">
<div>
　　我们对稿件有一些要求，希望你理解与支持：</div>
<div>
　　1)、观点明确，尽量不有模糊说辞 。价值判断清晰有力，哪怕未来发展与这一思路有误也不怕&mdash;&mdash;毕竟我们不是上帝。</div>
<div>
　　2)、叙述角度独特，哪怕是刁钻苛刻，只要能自圆其说。</div>
<div>
　　3)、故事真情流露、真人真事，给你以启发。</div>
<div>
　　我们随时期待您的稿件。</div>
<div>
　　【投稿请发Email】：44824482@qq.com</div>
<div>
　　主题：投稿+《文章标题》</div>
<div>
　　正文内容：文章正文(请不要使用附件，图片可作为附件提交)。所有稿件需要是原创。请留下您的个人简介、联系方式、博客或者微博地址。如果48小时内没有回复，您也可以自行处理您的稿件。并请注明稿件是否首发，或者标注原刊处。</div>
<div>
　　我们的使命是：传播励志、正能量的信息。</div>
</div>
</div>
<div class="copyright clear">Copyright © 2017-2018 tiantianlizhi.cn All Rights Reserved. 冀ICP备14004780号-3 <script src="https://s19.cnzz.com/z_stat.php?id=1271312128&web_id=1271312128" language="JavaScript"></script>
</div>
</div>
</div>
</body>
</html>
<script type="text/javascript">function qqemail(){  childWindow =window.open('http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=44824482@qq.com','newwindow','height=450,width=800,top=150,left=280,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');}</script>