<div class="sidebar-widget service-items">
	<h2><span class="am-icon-list-ul"> 服务项目</span></h2>
	<table class="am-table am-table-bordered am-text-center">
		<tbody>
			<tr>
				<td>
					<a href="javascript:;" class="am-icon-btn am-primary am-icon-home"></a>
  					<h3><a href="javascript:;">网站建设</a></h3>
				</td>
				<td>
					<a href="javascript:;" class="am-icon-btn am-success am-icon-copy"></a>
					<h3><a href="javascript:;">快速仿站</a></h3>
				</td>
			</tr>
			<tr>
				<td>
					<a href="javascript:;" class="am-icon-btn am-warning am-icon-weixin"></a>
					<h3><a href="javascript:;">微信公众号</a></h3>
				</td>
				<td>
					<a href="javascript:;" class="am-icon-btn am-danger am-icon-mobile-phone"></a>
					<h3><a href="javascript:;">webapp</a></h3>
				</td>
			</tr>
		</tbody>
	</table>
</div>