html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,p{margin:0;padding:0;}
body {font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",Arial;font-size:12px;color:#929292;background-color:#FFF;}
h1,h2,h3,h4,h5,h6 {font-weight:normal}
ol,ul {list-style:none}

a {color: #333;text-decoration: none;}
a,a:focus,a:active,a:hover {outline:0 none!important}
img {  border: none;}
a img {  border: none;}
.clear{clear:both;} 
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.blank5{height:5px;}
.blank10{height:10px;}
.blank20{height:20px;}

.fl{float:left;}
.fr{float:right;}
.w740{width:740px;}
.w210{width:210px;}

/*头部区域*/
.header{width:960px;height:90px;margin:0 auto;position:relative;z-index:1;}
.header h1{width:265px;height:48px;float:left;margin:24px 0 0 5px;}
.header h1.logo{background:url(../images/logo.png) no-repeat;}
.header .txt{position:absolute;top:18px;right:16px;text-align:right;color:#333;_display:inline-block;}
.header .txt a{color: #333;}
.header .txt span{padding:0 10px;}
.header .tel{position:absolute;top:50px;right:16px;height:14px;line-height:14px;padding-left:70px;text-align:center;font-size:14px;color:#8d8c8c;}
.header .tel span{font-family:Verdana;}
 
 /*导航条*/

.nav-bg{background: url(../images/nav-bg.png) 0 0 repeat-x;
-webkit-border-radius: 2px 2px 3px 3px;
-moz-border-radius: 2px 2px 3px 3px;
-o-border-radius: 2px 2px 3px 3px;
-ms-border-radius: 2px 2px 3px 3px;
border-radius: 2px 2px 3px 3px;height:38px; }
.nav-bg-bottom{height:25px;background: url(../images/nav-bg-bottom.png) repeat-x 0 bottom;}
.nav{width:960px;height:38px;margin:0 auto; line-height: 38px;  position:relative; z-index:1; }
.nav a{ color:#fff;  }
.nav .nLi{ float:left;  position:relative; display:inline;  }
.nav .nLi h3{ float:left;  }
.nav .nLi h3 a{ display:block; padding:0 28px; font-size:16px; }
.nav .sub{ display:none; width:102px; left:0; top:38px;  position:absolute;  line-height:26px; padding:5px 0; background: #3b3e47;border: 1px solid #333;border-top: 0;border-bottom: 2px solid #333;padding: 11px 10px 10px;-webkit-border-radius: 0 0 2px 2px;-moz-border-radius: 0 0 2px 2px;-ms-border-radius: 0 0 2px 2px;-o-border-radius: 0 0 2px 2px;border-radius: 0 0 2px 2px; }
.nav .sub li{ zoom:1; }
.nav .sub a{ display:block; padding:0 10px; }
.nav .sub a:hover{ background:#414655; color:#fff;  }
.nav .on h3 a{background: url(../images/'nav-bg-on.png') 0 0 repeat-x; color:#fff;   }


.banner{width:960px;margin:0 auto;}
/* 本例子css */
.slideBox{ width:960px; height:350px; overflow:hidden; position:relative;  }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:30px; height:15px; line-height:16px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:960px; height:350px; display:block;  }

/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }


.mainbody {width: 960px;margin: 0 auto;}
.mainbody .bg{background:#fcfcfc;border: 1px solid #f4f4f4; border-bottom:2px solid #e6e6e6;  border-radius: 5px;padding: 15px;}
.mainbody .newwarp{width:300px;height:180px;float:left;}
.mainbody .newstitle{line-height:14px;height:20px;}
.mainbody .newstitle a{color:#929292}
.mainbody .newstitle h3{float: left;font-size: 14px;}
.mainbody .newstitle .more{color:#2554b3;float:right;}
.mainbody .newsfocus{height:75px;padding:10px 0px 0px 0px;margin-bottom:8px;border-bottom:1px solid #e0e0e0;}
.mainbody .newsfocus div{float:left;width:60px;height:60px;margin-right:16px;}
.mainbody .newsfocus div a{width:60px;height:60px;border:1px solid #d2d2d0;border-radius:5px;display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:42px;*font-family:Arial;}
.mainbody .newsfocus div a img{border-radius:5px;vertical-align:middle;width:58px;height:58px;}
.mainbody .newsfocus h3{margin-bottom:3px;}
.mainbody .newsfocus h3 a{font-weight:bold;font-size:12px;color:#fe8216;}
.mainbody .newsfocus p{color:#8f8f8f;line-height:18px;}
.mainbody .indexnewslist li{color:#325e7f;line-height:24px;height:24px;}
.mainbody .indexnewslist li a{color:#325e7f;}
.mainbody .indexnewslist li span{float:right;font-family:Verdana;color:#8c8c8c;}
.mainbody .aboutus{width:365px;height:180px;float:right;line-height:22px;color:#888;}
.mainbody .aboutus img{float:left;margin:5px 15px 0px 0;}
.mainbody .aboutus a{color:#2554b3;}
.mainbody .contact{width:178px;height:180px;float:right;}
.mainbody .contact img{float:left;margin:5px 15px 0px 0;}
.mainbody .contactus a{color:#2554b3;}
.mainbody .contact {line-height:22px;}

.listpage {clear: both;text-align: center;}
 .piclist{width:720px;}
 .piclist ul{}
 .piclist li{width:240px;float:left;height:200px;overflow:hidden;}
 .piclist img{width:224px;height:160px;padding:2px;border: 1px solid #cfcfcf;margin-bottom:8px;}
 .piclist a{}
 .piclist a:hover{color:red;text-decoration:none;}
 .picname{text-align:center;}
.mainbody .page h2 {text-align:center;margin:20px;}
.mainbody .info {text-align:center;color:#999;margin-bottom:20px;}
.content{line-height:24px;}
/* 本例子css */
.picMarquee-left{  position:relative;   }
.picMarquee-left .hd{ overflow:hidden;  height:30px; padding:0 5px;  }
.picMarquee-left .hd h3{float:left; font-size: 14px; }

.picMarquee-left .hd .prev,.picMarquee-left .hd .next{ display:block;  width:5px; height:9px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;cursor:pointer; background:url(../images/"arrow.png") no-repeat;}
.picMarquee-left .hd .next{ background-position:0 -50px;  }
.picMarquee-left .hd .prevStop{ background-position:-60px 0; }
.picMarquee-left .hd .nextStop{ background-position:-60px -50px; }

.picMarquee-left .bd{ padding:10px 5px;   }
.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.picMarquee-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picMarquee-left .bd ul li .pic{ text-align:center; }
.picMarquee-left .bd ul li .pic img{ width:130px; height:100px; display:block; padding:2px; border:1px solid #ccc; }
.picMarquee-left .bd ul li .pic a:hover img{ border-color:#999;  }
.picMarquee-left .bd ul li .title{ line-height:24px;   }

 /*友情连接*/
.link a{padding:0 5px;color:#999}

.sidenav{}
.sidenav .title{height:35px; line-height:35px;color:#666; font-size:16px; font-weight:bold;border-bottom:#E5E7E6 1px dashed;}
.sidenav .leftbox{ }
.sidenav .leftbox ul{}
.sidenav .leftbox li{_display:inline; overflow:hidden;}
.sidenav .leftbox a{ display:block; border-bottom:#E5E7E6 1px dashed; height:35px; line-height:35px; font-size:14px; color:#666; padding-left:5px;}
.sidenav  s{display: block;width: 5px;height: 9px;float: left;margin-right: 5px;margin-top: 12px;overflow: hidden;cursor: pointer;background: url(../images/"arrow.png") no-repeat;background-position: 0 -50px;}
.sidenav .leftbox .select,.helpleftsite .leftbox a:hover{ color:#f00; text-decoration:none; }
.mainbody .newslist h3{color:#325e7f;height:30px;font-size:18px;padding-left: 5px;}
.mainbody .newslist h3 .bt{float:left;}
.mainbody .newslist h3 .more{float:right;}

.mainbody .newslist li{color:#325e7f;line-height:34px;height:34px; font-size:14px;border-bottom: #E5E7E6 1px dashed;}
.mainbody .newslist li a{float:left;color:#325e7f;}
.mainbody .newslist li span{float:right;font-family:Verdana;color:#8c8c8c;}


.pinglunneirong{border:1px solid #CCCCCC; width:100%; height:80px; }
.input-text-c,.input-text,textarea,input.date{border:1px solid #D0D0D0;height:18px;margin:0 5px 0 0;padding:2px 0 2px 5px;border: 1px solid #d0d0d0;font-family: Verdana, Geneva, sans-serif,"宋体";font-size:12px;}
input.date{padding-right:18px;font-size:12px;}
textarea,textarea.input-text,textarea{font-size:12px;height:auto; padding:5px; margin:0;}
select{vertical-align: middle;padding: 2px;-webkit-appearance: menulist;box-sizing: border-box;align-items: center;border: 1px solid #d0d0d0;border-image-source: initial;border-image-slice: initial;border-image-width: initial;border-image-outset: initial;border-image-repeat: initial;white-space: pre;
-webkit-rtl-ordering: logical;color: black;background-color: white;cursor: default;}
.input-text-c{text-align:center}

.datatable thead td {
    border-bottom: 1px solid #EDEDED;
    color: #666666;
    padding: 5px;
    white-space: nowrap;
}
.datatable tbody td {
    padding: 8px 0 8px 5px;
	border-bottom: 1px solid #EFEFEF;
    clear: both;
    overflow: hidden;
	font-size:12px;
}
.datatable tbody tr:hover {
    background-color: #f1f8ff;
}
.datatablepage {
	clear:both;
	padding-top:10px;
}


/*表格表单*/
.table_form{font-size:12px}
.table_form td{padding-left:12px}
.table_form th{font-weight:normal; text-align:right;padding-right:10px; color:#777}
.table_form td label{ vertical-align:middle}
.table_form td,.table_form th{padding:8px 0 8px 8px}
.table_form tbody td,.table_form tbody th{ }

.button {padding:5px 15px;}
.footer{width:960px;margin:0px auto;}
.footer .footnav{height:29px; line-height:29px;text-align:center;color:#999;border-top: 1px dotted #CCCCCC;padding-top:10px;}
.footer .footnav a{ padding:0px 10px; color:#999; border-right:#ccc 1px solid;}
.footer .footnav a:hover{color:red;text-decoration:none;}
.footer .copyright{text-align:center;line-height:24px;padding-bottom:10px;}
.xiaocms-page { padding:14px 0 10px;font-family:\5b8b\4f53; margin-right: 10px;}
.xiaocms-page a { display:inline-block; height:22px; line-height:22px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 10px;margin-left: 1px;}
.xiaocms-page a:hover { background:#f1f1f1; color:#000; text-decoration:none; }
.xiaocms-page span { display:inline-block; height:22px;padding:0 10px; line-height:22px; background:#5a85b2; border:1px solid #5a85b2; color:#fff; text-align:center;margin-left: 1px; }