<footer class="footer">
    <div class="footer-inner">
        <div class="copyright pull-left">
            Copyright &copy; 2012-<script type="text/javascript">document.write(new Date().getFullYear())</script>
        </div>
        <div class="trackcode pull-right">
			<ul style="width:800px;">
				<li style="float:right;width:70px;"><a href="javascript:;">投稿</a></li>
				<li style="float:right;width:70px;"><a href="javascript:;">友情链接</a></li>            
				<li style="float:right;width:70px;"><a href="javascript:;">关于我们</a></li>
				<li style="float:right;width:70px;"><a href="javascript:;">广告合作</a></li>
				<li style="float:right;width:70px;"><a href="javascript:;">免责声明</a></li>
				<li style="float:right;width:70px;"><a href="javascript:;">联系我们</a></li>
			</ul>        
        </div>
    </div>
</footer>
